.App {
  text-align: center;
}

.quote-item {
  border: 1px solid grey;
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  gap: 1rem;
}
.icons svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
