.App {
  text-align: center;
}

.quote-item {
  border: 1px solid grey;
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  gap: 1rem;
}
.icons svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.customModal {
  max-width: 500px;
  width: 100%;
}


@media only screen and (max-width: 600px) {
  .customModal {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
}


.title {
  margin: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.form-control {
  margin-top: 0.4rem;
}

.add-quote {
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  border-radius: 3px;
  border: 1px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 11px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
  margin-top: 1.2rem;
}
.add-quote:hover {
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
}

input,
textarea {
  border: 1px solid lightgray;
  border-radius: 5px;
}

textarea:focus,
input:focus {
  outline: 1.3px solid #d0d0d0;
}

input {
  padding: 7px 14px;
}